body {
  font-size: 1.2em;
  line-height: 1.2em;
}

body * {
  font-family: 'Inconsolata', monospace !important;
}

body.hljs .hljs-string:hover {
  border-radius: 3px;
  border: 1px solid #e6db74;
  background-color: rgba(255, 255, 255, 0.2);
}

body.hljs .hljs-attr:hover {
  border-radius: 3px;
  border: 1px solid #f92672;
  background-color: rgba(255, 255, 255, 0.2);
}
