body {
  font-size: 1.2em;
  line-height: 1.2em;
}

body * {
  font-family: 'Inconsolata', monospace !important;
}

body.hljs .hljs-string:hover,
body.hljs .hljs-attr:hover,
body.hljs .hljs-number:hover,
body.hljs .hljs-literal:hover
{
  transition: border .1s;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.1);
}

body.hljs .hljs-string:hover {
  border: 1px solid #e6db74;
}

body.hljs .hljs-attr.hovering
{
  border: 1px solid #f92672;
}

body.hljs .hljs-number:hover {
  border: 1px solid #ae81ff;
}

body.hljs .hljs-literal:hover {
  border: 1px solid #ae81ff;
}
